# -----------------------------------------------------------------------------
# 作業ディレクトリ
# -----------------------------------------------------------------------------
src/

# -----------------------------------------------------------------------------
# 依存ライブラリ（巨大なフォルダのため絶対にGitに入れない）
# -----------------------------------------------------------------------------
node_modules/
dist/
.env
.github/

# -----------------------------------------------------------------------------
# ログファイルやキャッシュ
# -----------------------------------------------------------------------------
*.log
.npm/
.eslintcache


# -----------------------------------------------------------------------------
# OS固有のゴミファイル
# -----------------------------------------------------------------------------
.DS_Store
Thumbs.db
